[Unit]
Description=Townsville Rest Service

[Service]
ExecStart=#NODE_PATH#/townsville-rest-service --conf /etc/townsville-rest-service/config.json
# Lift file handle and proc limits
LimitNOFILE=32768
LimitNPROC=32768
Restart=always
RestartSec=10
User=www-data
Group=www-data
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
